@use './tokens' as *;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: $color-bg-primary;
  color: $color-text-primary;
}
