@use './tokens' as *;

.hero {
  position: relative;
  min-height: 627px;
  overflow: hidden;

  border-bottom: 2px solid $on-primary;
}

.hero::before {
  position: absolute;
  inset: 0;

  background-image: url('../assets/hero-section.png');
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;

  opacity: 0.8;
  transform: translateY(-18px) scale(1.18);

  content: '';
}

.hero::after {
  position: absolute;
  inset: 0;

  background: hsla(246, 36%, 17%, 0.65);

  content: '';
}

.hero__container {
  position: relative;
  z-index: 1;

  min-height: 627px;
  padding: $size-14 $size-15;

  display: flex;
  align-items: center;
}

.hero__card {
  width: 640px;
  padding: $size-6;

  display: flex;
  flex-direction: column;
  gap: $size-3;

  background: $bg;
  border: 3px solid $on-primary;
  border-radius: $corner-extra-large;
  box-shadow: 8px 8px 0 $on-primary;
}

.hero__title {
  margin: 0;

  color: $on-primary;
  font-size: $display-large; // 56px
  font-weight: $font-bold; // 700
  line-height: 1.1; // 110%
}

.hero__text {
  margin: 0;

  color: $on-bg;
  font-size: $body-large; // 18px
  font-weight: $font-medium; // 500
  line-height: 1.5; // 150%
}

.hero__button {
  align-self: flex-start;
  padding: $btn-large-y $btn-large-x;

  background: $primary;
  color: $on-primary;

  border: 2px solid $on-primary;
  border-radius: $corner-small;

  font-size: $body-large; // 18px
  font-weight: $font-bold; // 700
  line-height: 1;

  cursor: pointer;
}
