@use './tokens' as *;
@use './breakpoints' as *;

.leaderboard {
  width: 100%;
  max-width: $layout-max-width;
  margin: 0 auto;
  padding-block: $size-5;
  padding-inline: clamp($size-5, calc(8.93vw - 51.4px), $size-15);

  display: flex;
  flex-direction: column;
  gap: $size-5;
  background: $bg;
}

.leaderboard__title-mobile {
  display: none;
}

.leaderboard__table th,
.leaderboard__table td {
  padding-inline: clamp($size-2, 1.25vw, $size-3);
}

.leaderboard__title {
  margin: 0;
  display: flex;
  align-items: center;
  gap: $size-1;
  color: $on-primary;
  //   font-size: $headline-large;
  font-size: clamp($headline-medium, calc(2.08vw + 8px), $headline-large);
  font-weight: $font-bold;
  line-height: 1;

  &::before {
    width: $size-1;
    height: $size-4;
    flex-shrink: 0;

    content: '';

    background: $primary;
    border: 1.5px solid $on-primary;
    border-radius: $corner-extra-small;
  }
}

.leaderboard__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;

  background: $white;
  font-family: $font-table;
  font-weight: $font-semibold;

  border: 2.5px solid $on-primary; // Exact Figma value; no matching token exists.
  border-radius: $corner-large;
  box-shadow: 6px 6px 0 $on-primary;
}

.leaderboard__table thead {
  background: $tertiary;
  color: $white;
}

.leaderboard__table th {
  padding-block: $size-3;
  text-align: center;
  font-size: $body-medium;
  font-weight: $font-extra-bold;
  line-height: 1;
  text-transform: uppercase;
}

.leaderboard__table th:first-child {
  width: 80px;
}

.leaderboard__table td {
  padding: $size-2 $size-3;
  border-bottom: 1px solid $outline;
  color: $on-primary;
  font-size: $body-medium;
  text-align: center;
  line-height: 1;
}

.leaderboard__table tbody tr:nth-child(odd) {
  background: $bg;
}

.leaderboard__table tbody tr:nth-child(even) {
  background: $white;
}

.leaderboard__table tbody tr:last-child td {
  border-bottom: 0;
}

.leaderboard__table td.leaderboard__rank {
  width: 80px;
  font-weight: $font-extra-bold;
}

.leaderboard__table tbody tr:first-child .leaderboard__rank {
  color: $primary;
}

.leaderboard__player {
  display: flex;
  align-items: center;
  gap: calc($size-05 + $size-1);
  text-align: left;
}

.leaderboard__avatar {
  width: $size-5;
  height: $size-5;
  flex-shrink: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 2px solid $on-primary;
  border-radius: $corner-full;

  font-size: $label-large;
  font-weight: $font-medium;
}

.leaderboard__table tbody tr:nth-child(1) .leaderboard__avatar {
  background: $primary;
}

.leaderboard__table tbody tr:nth-child(2) .leaderboard__avatar {
  background: $avatar-random-2;
}

.leaderboard__table tbody tr:nth-child(3) .leaderboard__avatar {
  background: $avatar-random-3;
}

.leaderboard__table tbody tr:nth-child(4) .leaderboard__avatar {
  background: $avatar-random-4;
}

.leaderboard__table tbody tr:nth-child(5) .leaderboard__avatar {
  background: $avatar-random-5;
}

.leaderboard__player-name {
  color: $on-primary;
  font-size: $body-medium;
  font-weight: $font-bold;
  line-height: 1;
}

.leaderboard__game {
  display: inline-flex;
  align-items: center;
  min-height: 22px;
  padding-inline: $size-1;

  border: 1px solid $on-primary;
  border-radius: $corner-full;

  font-size: $label-medium;
  white-space: nowrap;
}

.leaderboard__heading-tablet,
.leaderboard__streak-tablet {
  display: none;
}

.leaderboard__score-mobile {
  display: none;
}

@media (max-width: $breakpoint-tablet-lg) {
  .leaderboard {
    padding: $size-3 $size-5;
    gap: $size-3;
  }

  .leaderboard__title {
    font-size: clamp($headline-medium, calc(2.08vw + 8px), $headline-large);

    &::before {
      height: clamp($size-3, 3vw, $size-4);
    }
  }

  .leaderboard__heading-desktop {
    display: none;
  }

  .leaderboard__heading-tablet {
    display: inline;
  }

  .leaderboard__table th,
  .leaderboard__table td {
    font-size: $body-small;
  }

  .leaderboard__table th:last-child,
  .leaderboard__table td:last-child {
    display: none;
  }

  .leaderboard__table tbody tr:nth-child(n + 4) {
    display: none;
  }

  .leaderboard__streak-desktop {
    display: none;
  }

  .leaderboard__streak-tablet {
    display: inline;
  }

  .leaderboard__avatar {
    font-size: $label-small;
  }
}

@media (max-width: $breakpoint-tablet) {
  .leaderboard {
    padding-inline: clamp($size-2, calc(6.11vw - 6.9px), $size-5);
  }

  .leaderboard__games {
    display: none;
  }

  .leaderboard__player {
    gap: $size-1;
  }

  .leaderboard__avatar {
    width: $size-3;
    height: $size-3;
    font-size: $label-small; // 10px
  }

  .leaderboard__score-desktop {
    display: none;
  }

  .leaderboard__score-mobile {
    display: inline;
  }
}

@media (max-width: $breakpoint-mobile-lg) {
  .leaderboard {
    padding: $size-2;
    gap: $size-2;
  }

  .leaderboard__title-desktop {
    display: none;
  }

  .leaderboard__title-mobile {
    display: inline;
  }

  /*     .leaderboard__games {
    display: none;
  } */

  .leaderboard__table th,
  .leaderboard__table td {
    padding-inline: $size-05;
  }

  .leaderboard__table th:first-child,
  .leaderboard__table td.leaderboard__rank {
    width: 64px;
  }

  /*   .leaderboard__player {
    gap: $size-1;
  }

  .leaderboard__avatar {
    width: $size-3;
    height: $size-3;
    font-size: $label-small; // 10px
  } */

  .leaderboard__player-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /*  .leaderboard__score-desktop {
    display: none;
  }

  .leaderboard__score-mobile {
    display: inline;
  } */
}
